<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>支付demo微信&amp;&amp;支付宝.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CEA863161CA8CEA70069A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEA8632F1CA8CEA70069A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CEA8633A1CA8CEA70069A20C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
